<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TOSC Result</title>

  <style type="text/css">

  	body
  	{
  		background-color: rgba(242, 242, 242, 0.7);
  		font-family: arial;
  	}

  	form
  	{
  		width: 600px;
  		margin: 0 auto;
  		padding: 10px;
  		text-align: center;
  	}

  	#rollbox
  	{
  		border: 1px solid #ccc;
  		background-color: white;
  		padding: 10px;
  		width: 200px;
  	}

  	#submitButton
  	{
  		border: 1px solid #ccc;
  		background-color: #318943;
  		padding: 10px;
  		width: 60px;	
  		color: white;
  		cursor: pointer;
  	}

#information
    {
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: 50px;
    }

    .blocks
    {
      display: inline-block;
      width: 120px;
      height: 100px;
      background-color: white;
      box-shadow: 0 1px 1px grey;
      padding: 5px;
      margin: 10px;
    }

    table
    {
      width: 100%;
      height: 100%;
    }

    td p
    {
      text-align: center;
      color: #615454;
      font-family: 'Raleway';
      font-weight: 700;
    }

    #cutoff
    {
      width: 200px;
    }

    .case
    {
      padding: 5px;
      width: 700px;
      margin: 40px auto;
      font-weight: 500;
      word-spacing: 3px;
    }

    .case a
    {
      font-weight: 900;
      color: #615252;
    }

    #head
    {
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      margin: 0;
    }

    #message
    {
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      margin: 0;  
    }


  </style>
</head>
<body>
 
<form action="/tosc_results/result" id="searchForm" >
  Search Using Roll No: <input type="text" name="rollno" placeholder="Roll No" autocomplete="on">
  <input type="submit" value="Search" id="submitButton">
  <br>
  <p> Roll No should be without any space and K/L must be capital.
</form>
<!-- the result of the search will be rendered inside this div -->

<div id="information">
  
  <a href="http://techkriti.org/tosc/poolAResults.pdf" target="_blank">
  <div id="poolAResults" class="blocks">
    <table>
      <tr>
        <td>
          <p>Pool A<br>Results</p>
        </td>
      </tr>
    </table>
  </div>
  </a>

  <div id="cutoff" class="blocks" width="200px">
    <table>
      <tr>
        <td colspan="3" height="20px">
          <p style="margin:0;">Cutoff</p>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin:0;">Pool A <br> 82 Marks</p>
        </td>
        <td width="5px" style="width:0px;background:#615454;box-shadow:inset 0 0 2px white;">
        </td>
        <td>
          <p style="margin:0;">Pool B <br> 69 Marks</p>
        </td>
      </tr>
    </table>
  </div>

  <a href="http://techkriti.org/tosc/poolBResults.pdf" target="_blank">
  <div id="poolAResults" class="blocks">
    <table>
      <tr>
        <td>
          <p>Pool B<br>Results</p>
        </td>
      </tr>
    </table>
  </div>
  </a>
  <p class="case">In case of any discrepancy, email us at <a href="">tosc.iitk@techkriti.org</a> | <a href="">idnani@iitk.ac.in</a></p>

</div>
 
 
</body>
</html>