<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TOSC Result</title>

  <style type="text/css">

  	body
  	{
  		background-color: rgba(242, 242, 242, 0.7);
  		font-family: arial;
  	}

  	#result
  	{
  		width: 600px;
  		margin: 50px auto;
  		background-color: white;
  		box-shadow: 0 1px 1px grey;
  		padding: 20px;
  		border: 2px dashed rgb(0, 178, 255);
  	}

  	#name
  	{
  	}


  </style>
</head>
<body>

   <% if(res) { %>
<!-- the result of the search will be rendered inside this div -->
<div id="result">
  <p id="name">Name: <%= res.Name %></p>
  <p id="roll">Roll: <%= res.Rollno %></p>
  <p id="pool">Pool: <%= res.Pool %></p>
  <p id="score">Score: <%= res.Score %></p>
    <% if(res.Score >= 60) { %>
  <p id="message">Congratulations, You have been shortlisted for the Second round of TOSC</p>
      <% }  else { %>
  <p id="message">Sorry, you have not been shortlisted for the next round.</p>
      <% } %>

</div>          
<% }  else { %>
<div id="result">Your Result was not found. Please try and use a different method.
          <% }  %>

</body>
</html>